body {
  min-height: 100vh;
  margin: 0px;
  background-color: #20232a;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.headBar {
  margin-top: 2%;
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headBarSpan {
  color: #61dafb;
  font-size: 35px;
}

.cvSection {
  margin-top: 2%;
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: row;
  gap:2%
}


.cvForm {
  width: 30%;
  height: 20vh;
  background-color: rgb(91, 68, 173);
  border-radius: 10px;

}

.cvInfo {
  width: 70%;
  height: 20vh;
  background-color: white;
  border-radius: 10px;
}